<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >

   <script src="{{ site.path }}/js/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>
<body>
    {% include nav.html %}
    {% include header.html %}

    {% include blog-latest.html %}

      
      <div class="content">
    
        {{ content }}
      </div>
    <script>
    
        $(function() {
            
            $("#orlando").hover(
                function() {
                    $(this).attr("src", "{{ site.path }}/images/orlando.gif");
                },
                function() {
                    $(this).attr("src", "{{ site.path }}/images/orlando2.gif");
                }                         
            );                  
        
            $("#breakout").hover(
                function() {
                    $(this).attr("src", "{{ site.path }}/images/breakout2.gif");
                },
                function() {
                    $(this).attr("src", "{{ site.path }}/images/breakout.gif");
                }                         
            ); 
                       
        });
        
        </script>
{% include footer.html %}
</body>
</html>
